.contact--title{
    text-align:center;
    margin-bottom: 1rem;
}

.contact__container{
    margin-left: 28%;
}

.contact__container--redes{
    margin-top: .3rem;
    margin-left: 18%;
}
.contact__container--redes a>img{
    width: 35px;
    height: 35px;
    margin-right: 1rem; 
}

@media screen and (max-width: 600px){
   iframe{
       display: none;
   }

   .contact__container--redes{
        margin-left: 6%;
   }
}