
.navBar{
    height: 12vh;
    background: #1b1b20;
    position:fixed;
    display: flex;
    z-index: 1;
}

.navBar__container{
    display: flex;
}

.navBar__container--logo{
    width: 7%;
    height: 11vh;
}

.navBar__container--link{
    color: #f2f2f2;
    margin: 2% 0 0 1%;
}

.navBar__list-container{
   
    width: 600px;
    margin: 2%;
    
}
.navBar__list{
    display: flex; 
    list-style: none;
    float: right;
    margin: 1%;
    text-align: center;
    justify-content: space-evenly;
}

li .navBar__list-item{ 
    display: inline-block;
    color: #ffff;
    padding: 5%;
    margin-right:28px;
    border: 1px solid #f1f1f1;
    border-radius: 10%;
}

.navBar__list-item:hover{
    cursor:pointer;
    text-decoration: underline;
}