
.our-services{
    width: 100vw;
    padding: 2%;
    margin-bottom: 5%;
}

.our-services__title{
    text-align:center;
    margin: 10% 0;
}
.our-services__services{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.our-services__container{
    width: 75%;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10% 2% 1% 2%;
    margin:10% 12.5% 15% 12.5%;
    height: 350px;
    text-align: center;
}

.our__service-img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.our__service-title{
    margin-bottom: 5%;
    text-align: center;
}

.our-services__container .our__service-img{
    position: absolute;
    margin: -18% 0 0 -7%;
}

@media screen and (min-width: 600px){

    .our-services__services{
        display:block;
    }

    .our-services__container{
        width: 60%;
        padding: 15% 2% 8% 2%;
        margin:10% 20% 10% 20%;
    }

    .our__service-img{
        width: 12%;
        height: 100px;
    }

    .our-services__container .our__service-img{
        margin: -22% 0 0 -5%;
    }
}

@media screen and (min-width:700px){
    .our-services{margin-top:-20%;}
    .our-services__services{
        display:flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .our-services__container{
        width: 40%;
        padding: 8% 2% 1% 2%;
        margin:3%;
        height: 380px;
    }
    .our__service-img{
        width: 10%;
        height: 60px;
    }
    .our-services__container .our__service-img{
        margin: -10% 0 0 -5%;
    }
}
@media screen and (min-width: 925px){
    .our-services{margin-top:-20%;}

    .our-services__services{
        display:flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .our-services__container{
        width: 40%;
        padding: 3% 2% 1% 2%;
        margin:3%;
        height: 350px;
    
    }
    
    .our__service-img{
        width: 10%;
        height: 60px;
    }
    
    .our__service-title{
        margin: 8% 0;
    
    }
    
    .our-services__container .our__service-img{
        margin: -5% 10% 0 -4%;
    }
}

@media screen and (min-width: 1200px){
    .our-services{margin-top:-25%;}

    .our-services__title{
        margin: 5% 0;
    }

    .our-services__container{
        width: 25%;
        padding: 3% 2% 1% 2%;
        margin:3%;
    }

    .our__service-img{
        height: 80px;
    }
    .our-services__container .our__service-img{
        margin: -5% 10% 0 -5%;
    }
}