
.we-are{
    width: 100vw;
    height: 80vh;
    margin-bottom: 20%;
}

.we-are__title{
    padding-top: 3%;
    text-align:center;
    margin: 10% 0;
}

.we-are__container{
    width: 95%;
    height: 100%;
    margin-left: 2.5%;
    font-size: 18px;
    padding: 5% 1% 0 1%;
    text-align: center;
    background:#f1f1f1;
}

.misionAndVision-btn{
    padding: 2%;
    margin: 2% 0;
    border: 2px solid #f6f6f6;
    border-radius: .8rem;
    outline: none;
    color: #f1f1f1;
    background: #1b1b20;
}
@media screen and (min-width: 600px){
    .we-are{
        height: 100vh;
    }

    .we-are__title{
        margin: 5% 0;
        padding-top: 3%;
        align-items:center;
    }

    .we-are__container{
        width: 90%;
        margin: 5%;
        padding-top: 10%;
        height: 85%;
    }

    .misionAndVision-btn{
        margin: 5% 0;
        padding: 3%;
    }
}

@media screen and (min-width: 1200px){
    .we_are{
        border:1px solid black;
        margin-bottom: 5%;
    }

    .we-are__container{
        width: 75%;
        height: 75%;
        padding-top:5%;
        margin-left: 12.5%;
    }

    .we-are__title{
        margin: 5% 0;
    }
    
    .misionAndVision__container{
        display: flex;
        justify-content: space-evenly;
        margin: 2.5% 0;
    }
    
    .misionAndVision-btn{
        margin: 1% 0;
        padding: 2%;
    }
    
    .misionAndVision-btn:hover{
        cursor: pointer;
    }
}