@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.we-are{
    height: 80vh;
    
}

.we-are__title{
    padding-top: 3%;
    margin: 0 0 2% 43%;
    
}

.we-are__container{
    width: 75%;
    height: 60%;
    margin-left: 12%;
    font-size: 18px;
    padding: 5% 1% 0 1%;
    text-align: center;
    background:#f1f1f1;
}

.our-purpose{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
}
.our-purpose__container{
    border-radius: 5%;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.our-purpose__img{
    width: 500px;
    height: 350px;
}
.our-purpose__container-text{
    padding: 3%;
    text-align: center;
    width: 500px;
}